.Ac_main{
    display: flex;
    flex-direction: column;
}
.Ac{
    max-width: 1200px;
    width:100%;
    margin: 20px auto; 
}
.Ac_stage1,
.Ac_stage2
{
    display: flex;
    margin-bottom: 10px;
    justify-content: space-between;
}
@media(max-width:768px){
    .Ac_stage1,
    .Ac_stage2{
        flex-direction: column;
        margin-bottom: 10px;
    }




}
