
.footer{
    display: flex;
    width: 100%;
    background-color: rgb(17, 17, 59);
    color: white;
}
.footer__col1{
    align-items: center;
    justify-content: flex-end;
    margin: 10px;
    padding: 20px;
    width: 100%;
    max-height: 400px;
    min-width: 100px;
    
    z-index: 1;
}
.footer__col2{
    align-items: center;
    justify-content: flex-end;
    margin: 10px;
    padding: 20px;
    width: 100%;
    max-height: 400px;
    min-width: 100px;
    
    z-index: 1;
}
.footer__col3{
    align-items: center;
    justify-content: flex-end;
    margin: 10px;
    padding: 20px;
    width: 100%;
    max-height: 400px;
    min-width: 100px;
    
    z-index: 1;
}
.heading{
    font-size:xx-large;
    
}
@media(max-width:768px){
    .heading{
        font-size: 20px;
    }
    .para{
        font-size: 10px;
    }
    
    
}