.grooming_main{
    display: flex;
    flex-direction: column;
}
.grooming{
    max-width: 1200px;
    width:100%;
    margin: 20px auto; 
}
.grooming_stage1,
.grooming_stage2{
    display: flex;
    margin-bottom: 10px;
    justify-content: space-between;
}
@media(max-width:768px){
    .grooming_stage1,
    .grooming_stage2{
        flex-direction: column;
        margin-bottom: 10px;
    }




}
