.Microwaves_main{
    display: flex;
    flex-direction: column;
}
.Microwaves{
    max-width: 1200px;
    width:100%;
    margin: 20px auto; 
}
.Microwaves_stage1,
.Microwaves_stage2
{
    display: flex;
    margin-bottom: 10px;
    justify-content: space-between;
}
@media(max-width:768px){
    .Microwaves_stage1,
    .Microwaves_stage2{
        flex-direction: column;
        margin-bottom: 10px;
    }




}
