.Tyre_main{
    display: flex;
    flex-direction: column;
}
.Tyre{
    max-width: 1200px;
    width:100%;
    margin: 20px auto; 
}
.Tyre_stage1,
.Tyre_stage2{
    display: flex;
    margin-bottom: 10px;
    justify-content: space-between;
}
@media(max-width:768px){
    .Tyre_stage1,
    .Tyre_stage2{
        flex-direction: column;
        margin-bottom: 10px;
    }




}